
html ,body{
    margin: 0;
    padding: 0;
}

#logo{
    width: 7rem;
    height: 5rem;
}

/* .carousel-item  img{
    height: 60%;
} */


/* navigation 
.navbar{
   padding: 0.8rem; 
}
.navbar-nav li{
    padding: 1.25rem;
}
.nav-link{
    font-size: 1.1em !important;
}
*/
#dropdownMenuLink{
    width: 10rem;
    height: 3rem;
}
 hr.light-50{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    align-items: center;
    margin-top: .8rem;
    margin-bottom: 1rem;
 }


/* footer */
/* footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
    width: 100%;
    height: 10px;
} */
/* hr.light{
    border-top: 1px solid #d5d5d5;
    width: 30%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
} */


/* .form-control {
    width: 200px;
    height: 50px;
    margin-top:30px;
} */
.btn-new{
    /* height: 50px;
    width: 150px;
    margin-top:30px; */
    color: rgb(190, 197, 202);
}

